version: "3.8"

services:
  monolith:
    build:
      context: ../monolith
      dockerfile: Dockerfile
    container_name: hotelio-monolith
    ports:
      - "8084:8080"
    networks:
      - hotelio-net
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://monolith-db:5432/hotelio
      SPRING_DATASOURCE_USERNAME: hotelio
      SPRING_DATASOURCE_PASSWORD: hotelio

  monolith-db:
    image: postgres:15
    container_name: hotelio-db
    environment:
      POSTGRES_USER: hotelio
      POSTGRES_PASSWORD: hotelio
      POSTGRES_DB: hotelio
    ports:
      - "5432:5432"
    volumes:
      - monolith-db-data:/var/lib/postgresql/data
    networks:
      - hotelio-net

  tester:
    build:
      context: ../../test
      dockerfile: Dockerfile
    container_name: hotelio-tester
    environment:
      DB_HOST: hotelio-db
      DB_PORT: 5432
      DB_NAME: hotelio
      DB_USER: hotelio
      DB_PASSWORD: hotelio
      DB_BOOKING_HOST: hotelio-db
      DB_BOOKING_PORT: 5432
      DB_BOOKING_NAME: hotelio
      DB_BOOKING_USER: hotelio
      DB_BOOKING_PASSWORD: hotelio
      API_URL: http://hotelio-monolith:8080
    networks:
      - hotelio-net


# TODO нужно поправить тесты и фикстуры, чтобы они импортили тестовые данные в БД букинг сервиса

volumes:
  monolith-db-data:

networks:
  hotelio-net:
    external: true
