apiVersion: v1
kind: Service
metadata:
  name: {{ include "booking-service.fullname" . }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: booking-service
